

<div class="container">

  <div class="page-header">
  <a id = "top"></a>
      <h1>Frequently Asked Questions</h1>
  </div>

<ul>
    <% @common_questions.each do |common_question| %>
    <div><li><%= link_to common_question.question, "##{common_question.slug}" %> </li></div>
              <% end %>
</ul>


  <div class="row">
    <div class="col-md-6">

      <% @common_questions.each do |common_question| %>
      <div><p><h3><%= common_question.question %></h3></p></div>
        <p><%= common_question.answer %></p><br>
        <%= link_to "top", "#top" %>
        <a id = "<%=common_question.slug %>"></a>
        <% end %>
</div>
</div>
